<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя семья</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Учет бюджета</div>
        <ul class="navbar-nav">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('balance_chart') }}">Динамика баланса</a></li>
             <li><a href="{{ url_for('report') }}">Создать отчет</a></li>
            <li><a href="{{ url_for('goals') }}">Цели накопления</a></li>
            <li><a href="{{ url_for('portfolios') }}">Портфели</a></li>
             <li><a href="{{ url_for('family') }}">Моя семья</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="family-container">
            <div class="family-form">
               <h2>Добавить члена семьи</h2>
                <form method="post">
                     {{ form.hidden_tag() }}
                        <div class="form-group">
                          {{ form.name.label }}<br>
                           {{ form.name(class="input-field") }}<br>
                            {% for error in form.name.errors %}
                                <span class="error-message">{{ error }}</span>
                            {% endfor %}
                        </div>
                     <button type="submit" class="add-button">Добавить</button>
                </form>
            </div>

             <div class="family-list">
                <h2>Список членов семьи</h2>
                    {% for member in members %}
                         <div class="member-item">
                            <span class="member-item-name">{{ member.name }}</span>
                            <div>
                             <a href="{{ url_for('family_details', member_id=member.id) }}">Подробнее</a>
                            <form method="post" action="{{ url_for('delete_family_member', member_id=member.id) }}" style="display: inline;">
                                    <button type="submit" class="delete-button">Удалить</button>
                             </form>
                            </div>
                       </div>
                     {% endfor %}
            </div>
        </div>
     </div>
</body>
</html>