<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет бюджета</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Учет бюджета</div>
        <ul class="navbar-nav">
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('balance_chart') }}">Динамика баланса</a></li>
             <li><a href="{{ url_for('report') }}">Создать отчет</a></li>
            <li><a href="{{ url_for('goals') }}">Цели накопления</a></li>
            <li><a href="{{ url_for('portfolios') }}">Портфели</a></li>
             <li><a href="{{ url_for('family') }}">Моя семья</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content-area">
            <div class="left-panel">
                <h2>Добавить транзакцию</h2>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.amount.label }}<br>
                        {{ form.amount(class="input-field") }}<br>
                        {% for error in form.amount.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.transaction_type.label }}<br>
                        {{ form.transaction_type(class="select-field") }}<br>
                        {% for error in form.transaction_type.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}<br>
                        {{ form.description(class="input-field") }}<br>
                    </div>
                     <div class="form-group">
                        {{ form.member_id.label }}<br>
                        {{ form.member_id(class="select-field") }}<br>
                        {% for error in form.member_id.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                    <div class="form-group">
                        {{ form.date.label }}<br>
                        {{ form.date(class="input-field") }}<br>
                    </div>
                    <button type="submit" class="add-button">Добавить</button>
                </form>
            </div>

            <div class="center-panel">
                <h2>Транзакции</h2>
                <p>Баланс: {{ balance }} ₽</p>
                <table class="transaction-table">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Тип</th>
                            <th>Сумма</th>
                            <th>Описание</th>
                            <th>Член семьи</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                            <tr >
                                <td>{{ transaction.date }}</td>
                                <td>{{ 'Доход' if transaction.transaction_type == 'income' else 'Расход' }}</td>
                                <td>{{ transaction.amount }} ₽</td>
                                <td>{{ transaction.description }}</td>
                                 <td>{{ transaction.member_name }}</td>
                                <td>
                                    <form method="post" action="{{ url_for('delete_transaction', transaction_id=transaction.id) }}">
                                        <button type="submit" class="delete-button">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</body>
</html>